.book-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .book {
    width: 12rem;
  }
  
  .book-cover {
    max-height: 15rem;
    object-fit: cover;
    border: 0.2rem solid black;
  }
