// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

h1 {
  color: rgb(32, 211, 184);
  font: {
    size: 90px;
  }
}

.album-icon {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16"><path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/><path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/></svg>');
  color: green;
}
.album-link {
  text-decoration: none;
}

.img-preview {
    margin-bottom: 20px;
    height: 350px;
    width: auto;
    img {
      height: 100%;
    }
}
