body {
    background-color: #F4F4F4 !important;
}

.site-content {
    width: 970px !important;
    margin-top: 20px
}

.product-img {
    display: flex;
    width: 642px;
    height: 481px;
    justify-content: center;
}

.product-img img{
    height: 100%;
    object-fit: cover
}

.contentbox {
    padding: 20px;
    margin: 15px 0px;
    background-color: white
}